{% extends 'global/base.html' %}
{% load i18n %}

{% block title %}{{ job.title }}{% endblock title %}

{% block content %}
    <div class="main-content main-content-detail container">
        <div class="job-item-details job-details">
            <div class="job-title-container">
                <h2 class="job-title">
                    {{ job.title }}
                </h2>
            </div>
            <div class="job-author">
                <h4>{% translate "Company - " %}{{ job.company_name }}</h4>
            </div>
            <div class="job-meta-container">
                <div class="job-skill-requirements">
                    <h4><p>{% translate "Skill Requirements - " %}{{ job.skill_requirements }}</p></h4>
                </div>
                <div class="job-minimum-education">
                    <h4><p>{% translate "Minimum Education - " %}{{ job.minimum_education }}</p></h4>
                </div>
                <div class="job-salary">
                    {% if job.hide_salary %}
                    <h4><p>{% translate "Salary - " %}{{ job.salary }}</p></h4>
                    {% endif %}
                </div>
            </div>
            <div class="apply-job">
                {% if not user.is_company %}
                        <a href="{% url 'jobs:apply' job.id %}">{% translate "Apply for this job" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
