{% extends 'global/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Publish Job' %}{% endblock title %}

{% block content %}
    <div class="main-content publish center container article">
        <div class="publish-container">
            <div class="publish-form">
                {% include 'global/partials/messages.html' %}
                <h2>{% translate 'Publish New Job' %}</h2>
                {% if user.is_authenticated %}
                    {% include 'global/partials/form.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}